
<router-outlet></router-outlet>
<div class="footer text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer_img">
                        <img src="img/footer-logo.png" alt="company logo">
                    </div>
                    <div class="footer_link mt-10 mb-10">
                        <ul>
                            <li><a class="page-scroll" href="#home">Home</a></li>
                            <li><a class="page-scroll" href="#about">About</a></li>
                            <li><a class="page-scroll" href="#service">Service</a></li>
                            <li><a class="page-scroll" href="#portfolio">Portfolio</a></li>
                            <li><a class="page-scroll" href="#testimonial">Testimonial</a></li>
                            <li><a class="page-scroll" href="#blog">Blog</a></li>
                            <li><a class="page-scroll" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="copyright">
                        <p>@ 2017 All Rights Reserved Avive</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
