body {
    font-family: "Lato", sans-serif;
}
nav.custom-nav
{
    background-color: #1461ec;
}

.content-wrapper
{
    display: grid;
    grid-template-columns: 3fr auto;
    height: 100vh;
}

.content-wrapper section
{
    background-color: #f8f9fa;
}

.content-wrapper section ul
{
    padding-left:0px;
    
}
.content-wrapper section ul li
{
    list-style-type: none;
    font-weight: bold;
    width:100%;
    margin:2px;
    border:1px solid #CCCCCC;
    padding: 5px;
    font-size: 12px;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
}

.content-wrapper main
{
    background-color: #FFFFFF;
}
.content-wrapper main div.container-body
{
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.content-wrapper ul.navbar-nav
{
    width:100%;
}
.content-wrapper ul.navbar-nav li
{
    
  
}
.content-wrapper ul.navbar-nav li.active
{
   background-color: #4CAF50 !important;
  
}

.content-wrapper ul.navbar-nav li:hover
{
    background-color: #CCCCCC;
}

nav.breadcrumb
{
    top:20px;
    margin: 1rem 0 1rem 0;
}
nav.breadcrumb ol.breadcrumb
{
    margin: 0;
    padding:0;
}
nav ul.ml-auto
{
    width: 200px;;
}
nav ul.ml-auto li img.user-img
{
    border-radius: 50%;
    height:40px;
}
nav ul.ml-auto li:last-child
{
    padding:8px;
}
nav.navbar div.profile-container img
{
    height:200px;
    width:100%;
    border-radius: 50%;
}
nav.navbar div.profile-text 
{
    width:100%;
    text-align: center;

}
nav.navbar div.profile-text span:first-child
{
    font-weight: bold;
    font-size:20px;
    
}
nav.navbar div.profile-text span
{
    font-weight: bold;
    font-size:15px;
    
}





footer
{
    text-align:center;
    vertical-align: center;
    background-color: #325fb1;
    color:#fff;
}
