<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="page-caption">
					<h1 class="page-title">JOBS</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card-section">
	<div class="container">
		<div class="card-block bg-white mb30">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="section-title mb-0">
						<h2>All about ME. We share our knowledge on blog</h2>
						<p>Our approach is very simple: we define your problem and give the best solution. </p>
					</div>
				</div>
			</div>
			

			<div class="card">
		      <div class="row ">
		        <div class="col-md-4">
		            <img src="http://placehold.it/100x100" class="w-100">
		          </div>
		          <div class="col-md-8 px-3">
		            <div class=" px-3">
		              <h4 class="card-title">Lorem ipsum dolor sit amet</h4>
		              <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		              <a href="#" class="btn btn-primary">Read More</a>
		            </div>
		          </div>

		        </div>
		      </div>
    </div>





		</div>
	</div>
