<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item" style="background-image: url('/assets/frontend/image/home_image_1.jpg')">
			<div class="carousel-caption d-none d-md-block">
				<h3>First Slide</h3>
				<p>This is a description for the first slide.</p>
			</div>
		</div>
		<div class="carousel-item active" style="background-image: url('/assets/frontend/image/home_image_2.jpg')">
			<div class="carousel-caption d-none d-md-block">
				<h3>Second Slide</h3>
				<p>This is a description for the second slide.</p>
			</div>
		</div>
		<div class="carousel-item" style="background-image: url('/assets/frontend/image/home_image_3.jpg')">
			<div class="carousel-caption d-none d-md-block">
				<h3>Third Slide</h3>
				<p>This is a description for the third slide.</p>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<div class="covertext">
	<div class="col-lg-10" style="float:none; margin:0 auto;">
		<div class="title">
			<!-- WELOME TO HOME PAGE -->
			<div class="foo">
				<span class="letter" data-letter="W">W</span>
				<span class="letter" data-letter="E">E</span>
				<span class="letter" data-letter="L">L</span>
				<span class="letter" data-letter="C">C</span>
				<span class="letter" data-letter="O">O</span>
				<span class="letter" data-letter="M">M</span>
				<span class="letter" data-letter="E">E</span>
			</div>
		</div>
		<h3 class="subtitle">
		<span class="qoute">"</span>
				Education is the most powerful weapon which you can use to change the world.
		<span class="qoute">"</span> 
		<br>-James Omosora
		</h3>
	</div>
	<div class="col-xs-12 explore">
		<a href="#"><button type="button" class="btn btn-lg explorebtn">EXPLORE</button></a>
	</div>
</div>