nav
{
	background-color: #007bff !important;
}
.nav-link
{
	color: #fff !important
}


.nav-link:hover
{
	color: #fff !important;
	font-weight: bold !important;
	background-color: #77b8fd !important;
}

footer
{
	color: #ffff !important;
}
footer ul li.list-unstyled a
{
	clolor: red !important;
}

























