<div class="account-page login text-center">
    <div class="container">
        <div class="account-title">
            <h4 class="heading-light">CREATE ACCOUNT</h4>
        </div>
        <div class="account-content">
            <form action="/register/submit" method="POST">
                <div class="input-box email">
                    <input type="text" [(ngModel)]="registerInfo.user_first_name" name="user_first_name"  placeholder="First Name" required>
                </div>
                <div class="input-box password">
                    <input type="text" [(ngModel)]="registerInfo.user_middle_name" name="user_middle_name" placeholder="Middle Name" required>
                </div>
                <div class="input-box email">
                    <input type="text" [(ngModel)]="registerInfo.user_last_name" name="user_last_name" placeholder="Last Name" required>
                </div>
                <div class="input-box">
                    <select name="user_gender" id="" class="input-boxs" required>
                        <option value="">Gender</option>      
                        <option >MALE</option>      
                        <option >FEMALE</option>      
                    </select>
                </div>
                <div class="input-box email">
                    <input type="email" [(ngModel)]="registerInfo.user_email" name="user_email" placeholder="Email Address" required>
                </div>
                <div class="input-box password">
                    <input type="text" [(ngModel)]="registerInfo.user_password" name="user_password" id="password" placeholder="Password" required>
                </div>

                <div class="input-box password">
                    <input type="text" [(ngModel)]="registerInfo.confirm_password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
                </div>
                <span id='message'></span>
                <div class="input-box">
                    <select [(ngModel)]="registerInfo.user_year_graduate" name="user_year_graduate" id="" class="input-boxs" required>
                        <option value="">Year Graduate</option>      
                        <option >2018</option>      
                    </select>
                </div>
                <div class="buttons-set">
                    <button  type="button" (click) = "onRegisterSubmit()"  title="Sign Up" class="bnt bnt-theme text-regular text-uppercase">SIGN UP</button>
                </div>
            </form>
        </div>
    </div>
</div>