<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="page-caption">
					<h1 class="page-title">EVENTS</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card-section">
	<div class="container">
		<div class="card-block bg-white mb30">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="section-title mb-0">
						<h2>All about ME. We share our knowledge on blog</h2>
						<p>Our approach is very simple: we define your problem and give the best solution. </p>
					</div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-md-6">
					<div class="card-img-bottom">
					</div>
				</div>
				<div class="col-md-6">
					<div class="">
						<h4 class="card-title">Curabitur gravida vestibulum imperdiet.</h4>
						<p class="card-text">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem. Integer sed mi quis nisl eleifend interdum.</p>
						<p class="card-text">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem.</p>
						<a href="#" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>